footer {
    background-color: #053641;
    padding: 20px 20px 10px 20px;
    color: rgb(224, 224, 224);
    /* position: absolute;
    bottom: 0;
    width: 100%;*/
}

.footer-title {
    width: 70%;
    display: inline-block;
}

.footer-icons {
    width: 29%;
    display: inline-block;
}

.list-footer {
    list-style: none;
    font-size: 13px;
}

.list-footer-item {
    font-size: 12x;
    color: #999;
    text-decoration: none;
    display: block;
}

.icono {
    font-size: 20px;
}